<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav-header">
      <a href="#" class="navbar-brand">SIOMARI</a>
    </div>

    <div class="collapse navbar-collapse">

      <div class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Editar
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="canal/editar">Canal</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="cultivo/editar">Cultivo</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="obra/editar">Obra</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="predio/editar">Predio</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="seccion/editar">Sección</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="unidad/editar">Unidad</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="usuario/editar">Usuario</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="zona/editar">Zona</a>
            </li>
          </ul>
        </li>
      </div>

      <div class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Registrar
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="canal/registrar">Canal</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="cultivo/registrar">Cultivo</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="obra/registrar">Obra</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="predio/registrar">Predio</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="seccion/registrar">Sección</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="unidad/registrar">Unidad</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="usuario/registrar">Usuario</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="zona/registrar">Zona</a>
            </li>
          </ul>
        </li>
      </div>





      <ul class="nav navbar-nav">
        <!--
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/grafica">Grafica</a>
        </li>
        <li>
          <a routerLink="/tablas">Tablas</a>
        </li>
      -->
        <li>
          <a routerLink="/tablas">Tablas</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/climatologia">Climatologia</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/plan-siembra">Solicitud de siembra</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/plan-siembra-info">Plan de siembra</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/balance">Balance</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/config">Configuración</a>
        </li>
      </ul>
    </div>
  </div>
</div>