<div class="col-xs-12">

  <h2>Registro de usuario</h2>

  <br>

  <form>

    <div class="row">

      <div class="col-xs-6">

        <div class="form-group">
          <label for="identificacion">Identificación</label>
          <input type="text" class="form-control" placeholder="Ingrese la identificación" />
        </div>

        <div class="form-group">
          <label for="nombres">Nombres</label>
          <input type="text" class="form-control" placeholder="Ingrese los nombres" />
        </div>

        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" placeholder="Ingrese los apellidos" />
        </div>

        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input type="text" class="form-control" placeholder="Ingrese la dirección" />
        </div>

        <button class="btn btn-primary">Registrar</button>

      </div>

      <div class="col-xs-6">

        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" class="form-control" placeholder="Ingrese la ciudad" />
        </div>

        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input type="text" class="form-control" placeholder="Ingrese el telefono (opcional)" />
        </div>

        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="text" class="form-control" placeholder="Ingrese el celular (opcional)" />
        </div>

        <div class="form-group">
          <label for="correo">Correo electrónico</label>
          <input type="text" class="form-control" placeholder="Ingrese el correo electrónico (opcional)" />
        </div>

      </div>
    </div>

  </form>
</div>