<h1>Plan de siembras</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="text-center" class="text-vertical-center text-center" rowspan="2">Mes</th>
      <th colspan="3" class="text-center">Cultivo</th>
      <th class="text-center">Total</th>
    </tr>
    <tr>
      <!--<th>#</th>-->
      <th>1 - 10</th>
      <th>11 - 20</th>
      <th>21 - 30</th>
      <th>Has</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
    <tr>
      <th>2</th>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
    <tr>
      <th>3</th>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
  </tbody>
</table>

<br><br>

<h1>Cuadro balance mensual de volúmenes</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="2">Mes</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
    <tr>
      <th colspan="2">% Prob. Qm mensual</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th colspan="2">Oferta volúmen mes</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th rowspan="3" class="verticalTableHeader">Cultivos</th>
      <th>A</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>B</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>C</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th colspan="2">Demanda Volúmen</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
        <th colspan="2">Balance</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </tbody>

</table>