<div class="col-xs-12">

  <h2>Registro de predio</h2>

  <br>

  <form>
    <div class="row">
      <div class="col-xs-6">

        <div class="form-group">
          <label for="unidad">Seleccione la unidad</label>
          <select class="form-control" id="unidad">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="zona">Seleccione la zona</label>
          <select class="form-control" id="zona">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="seccion">Seleccione la sección</label>
          <select class="form-control" id="seccion">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="canal">Seleccione el canal</label>
          <select class="form-control" id="canal">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="codigo">Código</label>
          <input type="text" class="form-control" placeholder="Ingrese el código del predio" />
        </div>

        <div class="form-group">
          <label for="nombre">Nombre del predio</label>
          <input type="text" class="form-control" placeholder="Ingrese el nombre del predio" />
        </div>

        <div class="form-group">
          <label for="nombrePropietario">Nombre del propietario</label>
          <input type="text" class="form-control" placeholder="Ingrese el nombre del propietario" />
        </div>

      </div>

      <div class="col-xs-6">

        <div class="form-group">
          <label for="areaTotal">Área total</label>
          <input type="text" class="form-control" placeholder="Ingrese el area total" />
        </div>

        <div class="form-group">
          <label for="areaPotencialRiego">Área potencial de riego</label>
          <input type="text" class="form-control" placeholder="Ingrese el área potencial de riego" />
        </div>

        <div class="form-group">
          <label for="areaBajoRiego">Área bajo riego</label>
          <input type="text" class="form-control" placeholder="Ingrese el área bajo riego" />
        </div>

        <div class="form-group">
          <label for="ModuloRiego">Modulo de riego</label>
          <input type="text" class="form-control" placeholder="Ingrese el modulo de riego" />
        </div>

        <div class="form-group">
          <label for="numeroTomas">Cantidad de tomas</label>
          <input type="text" class="form-control" placeholder="Ingrese la cantidad de tomas" />
        </div>

        <div class="form-group">
          <label for="TipoSuelo">Tipo de suelo</label>
          <input type="text" class="form-control" placeholder="Ingrese el tipo de suelo" />
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </div>

  </form>
</div>