<div class="col-xs-12">

  <h1>Consulta de caudal entregado</h1>

  <ng4-loading-spinner> </ng4-loading-spinner>

  <div *ngIf="estado == 0" class="alert alert-danger" role="alert">
    Ha ocurrido un error, intenta mas tarde.
  </div>

  <form #form="ngForm" (ngSubmit)="registrar(form)">

    <div class="row">

      <div class="col-xs-6">

        <div [ngClass]="(cFecha.invalid && cFecha.touched) ? 'form-group has-error' : 'form-group'">
          <label class="control-label">Fecha y hora de entrega</label>
          <input [(ngModel)]="rango" #cFecha="ngModel" name="cFecha" type="text" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }" required placeholder="Ingrese la fecha de entrega"
          />
          <span class="msg-error" *ngIf="cFecha.invalid && cFecha.touched">Campo obligatorio</span>
        </div>

        <div [ngClass]="(cPredio.invalid && cPredio.touched) ? 'form-group has-error' : 'form-group'">
          <label class="control-label">Predio</label>
          <ng2-completer [(ngModel)]="searchPredio" [inputClass]="['form-control']" [datasource]="dataServicePredio" [minSearchLength]="4"
            [textSearching]="'Buscando...'" [placeholder]="'Ingrese el mes'" [textNoResults]="'Sin resultados'" [pause]="1000"
            (selected)="onPredioSelect($event)" #cPredio="ngModel" [disabled]="verificado" name="predioSearch" [clearUnselected]="true"
            required></ng2-completer>
          <span class="msg-error" *ngIf="cPredio.invalid && cPredio.touched">Campo obligatorio</span>
        </div>

        <button (click)="consultar()" [disabled]="!form.form.valid || predio == null" class="btn btn-primary" type="button">Consultar</button>

      </div>

    </div>

  </form>

  <br>

  <div *ngIf="estado == 1" class="row">
    <div class="col-lg-4">
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Caudal servido: {{caudal | number}}L</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->