<h1>Distribución mensual de agua</h1>

<br/>

<ng4-loading-spinner> </ng4-loading-spinner>

<div *ngIf="estado == 0" class="alert alert-danger" role="alert">
  Ha ocurrido un error, intenta mas tarde.
</div>

<form class="form-inline">

  <div class="form-check form-check-inline">
    <input (click)="onClickChoose(1,formAC)" class="form-check-input" type="radio" name="choose" />
    <label class="form-check-label">Unidad</label>


    <input (click)="onClickChoose(2,formAC)" class="form-check-input" type="radio" name="choose" />
    <label class="form-check-label">Zona</label>

    <input (click)="onClickChoose(3,formAC)" class="form-check-input" type="radio" name="choose" />
    <label class="form-check-label">Sección</label>

    <input (click)="onClickChoose(4,formAC)" class="form-check-input" type="radio" name="choose" checked/>
    <label class="form-check-label">Canal</label>
  </div>

</form>


<form #form="ngForm" (ngSubmit)="consultar()">

  <div class="row">

    <div class="col-xs-6">

      <div [ngClass]="(cFecha.invalid && cFecha.touched) ? 'form-group has-error' : 'form-group'">
        <label class="control-label">Fecha</label>
        <input [(bsValue)]="fecha" [(ngModel)]="ff" #cFecha="ngModel" name="cFecha" type="text" class="form-control" #dp="bsDatepicker"
          bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }" required placeholder="Ingrese la fecha"
        />
        <span class="msg-error" *ngIf="cFecha.invalid && cFecha.touched">Valor incorrecto</span>
      </div>

      <button [disabled]="!form.form.valid" type="submit" class="btn btn-primary">Consultar</button>

    </div>
  </div>

</form>

<br/>

<table *ngIf="consultado" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="text-vertical-center text-center" rowspan="3">Cultivo</th>
      <th class="text-center" colspan="2">SUPERFICIES</th>
      <th class="text-center" colspan="4">VOLUMENES
        <span>
          <i>M</i>
          <sup>
            <i>3</i>
          </sup>
        </span>
      </th>
      <th class="text-center" colspan="6">LAMINAS CM</th>
    </tr>
    <tr>
      <th class="text-center" colspan="2">HAS</th>
      <th class="text-center" colspan="2">SERVIDOS</th>
      <th class="text-center" colspan="2">DERIVADOS</th>
      <th class="text-center" colspan="2">NETAS</th>
      <th class="text-center" colspan="2">BRUTAS</th>
      <th class="text-center" colspan="2">EFICIENCIA</th>
    </tr>
    <tr>
      <th class="text-center">Mes</th>
      <th class="text-center">Fisica</th>
      <th class="text-center">Mes</th>
      <th class="text-center">Acumulado</th>
      <th class="text-center">Mes</th>
      <th class="text-center">Acumulado</th>
      <th class="text-center">Mes</th>
      <th class="text-center">Acumulado</th>
      <th class="text-center">Mes</th>
      <th class="text-center">Acumulado</th>
      <th class="text-center">Mes</th>
      <th class="text-center">Acumulado</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let x of lstDistribucionAgua">
      <td class="text-center">{{x.cultivo}}</td>
      <td class="text-center">{{x.superficieMes}}</td>
      <td class="text-center">{{x.superficieFisica}}</td>
      <td class="text-center">{{x.caudalServidoMes}}</td>
      <td class="text-center">{{x.caudalServidoAcumulado}}</td>
      <td class="text-center">{{x.caudalDerivadoMes}}</td>
      <td class="text-center">{{x.caudalDerivadoAcumulado}}</td>
      <td class="text-center">{{x.laminaNetaMes}}</td>
      <td class="text-center">{{x.laminaNetaAcumulado}}</td>
      <td class="text-center">{{x.laminaBrutaMes}}</td>
      <td class="text-center">{{x.laminaBrutaAcumulado}}</td>
      <td class="text-center">{{x.eficienciaMes}}</td>
      <td class="text-center">{{x.eficienciaAcumulado}}</td>
    </tr>

    <tr>
      <td class="text-center">TOTALES</td>
      <td class="text-center">{{total.superficieMes}}</td>
      <td class="text-center">{{total.superficieFisica}}</td>
      <td class="text-center">{{total.caudalServidoMes}}</td>
      <td class="text-center">{{total.caudalServidoAcumulado}}</td>
      <td class="text-center">{{total.caudalDerivadoMes}}</td>
      <td class="text-center">{{total.caudalDerivadoAcumulado}}</td>
      <td class="text-center">{{total.laminaNetaMes}}</td>
      <td class="text-center">{{total.laminaNetaAcumulado}}</td>
      <td class="text-center">{{total.laminaBrutaMes}}</td>
      <td class="text-center">{{total.laminaBrutaAcumulado}}</td>
      <td class="text-center">{{total.eficienciaMes}}</td>
      <td class="text-center">{{total.eficienciaAcumulado}}</td>
    </tr>

  </tbody>
</table>