<div class="col-xs-12">

  <h2>Registro de canal</h2>

  <br>

  <ng4-loading-spinner> </ng4-loading-spinner>

  <div *ngIf="estatus == 1" class="alert alert-success" role="alert">
    Canal registrado exitosamente
  </div>
  <div *ngIf="estatus == 0" class="alert alert-danger" role="alert">
    No se pudo registrar el canal
  </div>
  <div *ngIf="estatus == 2" class="alert alert-warning" role="alert">
    El codigo del canal ya ha sido registrado
  </div>

  <tabset #staticTabs>

    <tab heading="Servidor">

      <br/>

      <h2>Secciones por donde pasa el canal</h2>

      <div *ngIf="estatus == 3" class="alert alert-warning" role="alert">
        La seccion ya esta agregada.
      </div>

      <div class="row">
        <div class="col-xs-6">

          <div class="form-group">
            <label class="control-label" for="unidad">Seleccione la unidad</label>
            <select #unidad="ngModel" [(ngModel)]="unidadId" (change)="unidadChange()" name="unidad" class="form-control" id="unidad">
              <option value="-1">-- Seleccione --</option>
              <option *ngFor="let u of lstUnidad; let i = index" [attr.data-index]="i" value="{{i}}">{{u.nombre}}</option>
              <option *ngIf="lstUnidad.length == 0" value="-1">No hay unidades</option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="zona">Seleccione la zona</label>
            <select #zona="ngModel" [(ngModel)]="zonaId" (change)="zonaChange()" name="zona" class="form-control" id="zona">
              <option value="-1">-- Seleccione --</option>
              <option *ngFor="let z of lstZona; let i = index" [attr.data-index]="i" value="{{i}}">{{z.nombre}}</option>
              <option *ngIf="lstZona.length == 0" value="-1">No hay zonas</option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="seccion">Seleccione la sección</label>
            <select #seccion="ngModel" [(ngModel)]="seccionId" name="seccion" class="form-control" id="seccion">
              <option value="-1">-- Seleccione --</option>
              <option *ngFor="let s of lstSeccion; let i = index" [attr.data-index]="i" value="{{i}}">{{s.nombre}}</option>
              <option *ngIf="lstSeccion.length == 0" value="-1">No hay secciones</option>
            </select>
          </div>

          <button type="button" class="btn btn-success" (click)="agregarSeccion(form)">Agregar</button>

        </div>
        <div class="col-xs-6">
          <div class="col-xs-12">

            <ul *ngIf="lstUbicacionCanal.length != 0" class="list-group">
              <li *ngFor="let u of lstUbicacionCanal; let i = index" [attr.data-index]="i" class="list-group-item">
                {{u}}
                <span style="cursor: pointer" (click)="eliminarUbicacion(i)" class="badge badge-default badge-pill">eliminar</span>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </tab>

    <tab heading="Datos basicos" [disabled]="lstSeccionCanal.length == 0">

      <form #form="ngForm" autocomplete="off">

        <br/>

        <div class="row">
          <div class="col-xs-6">

            <div [ngClass]="(!codigo.valid && codigo.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="codigo">Código del canal</label>
              <input #codigo="ngModel" [(ngModel)]="canal.codigo" name="canal" type="text" class="form-control" placeholder="Ingrese código del canal"
                required/>
              <span class="msg-error" *ngIf="!codigo.valid && codigo.touched">Campo obligatorio</span>
            </div>

            <div [ngClass]="(!nombre.valid && nombre.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="nombre">Nombre del canal</label>
              <input #nombre="ngModel" [(ngModel)]="canal.nombre" name="nombre" type="text" class="form-control" placeholder="Ingrese nombre del canal"
                required/>
              <span class="msg-error" *ngIf="!nombre.valid && nombre.touched">Campo obligatorio</span>
            </div>

            <div [ngClass]="(!caudal.valid && caudal.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="caudal">Caudal diseño
                <span>(
                  <i>m</i>
                  <sup>
                    <i>3</i>
                  </sup>
                  <i>/seg</i>)</span>
              </label>
              <input #caudal="ngModel" [(ngModel)]="canal.caudalDisenio" name="caudal" type="number" class="form-control" placeholder="Ingrese nombre del canal"
                required/>
              <span class="msg-error" *ngIf="!caudal.valid && caudal.touched">Valor incorrecto</span>
            </div>

            <div [ngClass]="(!longitud.valid && longitud.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="longitud">Longitud
                <span>(
                  <i>Km</i>)</span>
              </label>
              <input #longitud="ngModel" [(ngModel)]="canal.longitud" name="longitud" type="number" class="form-control" placeholder="Ingrese nombre del canal"
                required/>
              <span class="msg-error" *ngIf="!longitud.valid && longitud.touched">Campo incorrecto</span>
            </div>

            <div [ngClass]="(!tipica.valid && tipica.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="unidad">Seleccione la sección tipica</label>
              <select #tipica="ngModel" [(ngModel)]="canal.seccionTipica" name="tipica" class="form-control" id="unidad" required>
                <option value="">-- Seleccione --</option>
                <option value="RECTANGULAR">Rectangular</option>
                <option value="CIRCULAR">Circular</option>
                <option value="TRAPEZOIDAL">Trapezoidal</option>
              </select>
              <span class="msg-error" *ngIf="!tipica.valid && tipica.touched">Campo obligatorio</span>
            </div>

          </div>

          <div class="col-xs-6">

            <div [ngClass]="(!clase.valid && clase.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="unidad">Seleccione la clase</label>
              <select #clase="ngModel" [(ngModel)]="canal.clase" name="clase" class="form-control" id="unidad" required>
                <option value="">-- Seleccione --</option>
                <option value="RIEGO">Riego</option>
                <option value="DRENAJE">Drenaje</option>
                <option value="MIXTO">Mixto</option>
              </select>
              <span class="msg-error" *ngIf="!clase.valid && clase.touched">Campo obligatorio</span>
            </div>

            <div [ngClass]="(!tipo.valid && tipo.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="unidad">Seleccione el tipo</label>
              <select #tipo="ngModel" [(ngModel)]="canal.tipo" name="tipo" class="form-control" id="unidad" required>
                <option value="">-- Seleccione --</option>
                <option value="REVESTIDO">Revestido</option>
                <option value="TIERRA">Tierra</option>
                <option value="MIXTO">Mixto</option>
              </select>
              <span class="msg-error" *ngIf="!tipo.valid && tipo.touched">Campo obligatorio</span>
            </div>

            <div [ngClass]="(!estado.valid && estado.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="unidad">Seleccione el estado</label>
              <select #estado="ngModel" [(ngModel)]="canal.estado" name="estado" class="form-control" id="unidad" required>
                <option value="">-- Seleccione --</option>
                <option value="BUENO">Bueno</option>
                <option value="REGULAR">Regular</option>
                <option value="MALO">Malo</option>
              </select>
              <span class="msg-error" *ngIf="!estado.valid && estado.touched">Campo obligatorio</span>
            </div>

            <div [ngClass]="(!estadoD.valid && estadoD.touched) ? 'form-group has-error' : 'form-group'">
              <label class="control-label" for="estadoD">Descripcion del estado</label>
              <textarea [(ngModel)]="canal.estadoDescripcion" #estadoD="ngModel" name="estadoD" id="estadoD" class="form-control" rows="4"
                placeholder="Ingrese la descripción del estado" required></textarea>
              <span class="msg-error" *ngIf="!estadoD.valid && estadoD.touched">Campo obligatorio</span>
            </div>

          </div>
        </div>

      </form>
    </tab>

    <tab heading="Categoria" [disabled]="!form.form.valid">


      <br/>

      <div class="row">

        <div class="col-xs-6">

          <div class="form-group">
            <label class="control-label" for="categoria">Seleccione la unidad</label>
            <select #categoria="ngModel" [(ngModel)]="canal.categoria" (change)="categoriaChange()" name="categoria" class="form-control"
              id="categoria" required>
              <option value="">-- Seleccione --</option>
              <option value="CANAL_ADUCCION">Canal de aducción</option>
              <option value="CANAL_PRINCIPAL">Canal principal</option>
              <option value="CANAL_DISTRIBUCION">Canal de distribucion</option>
              <option value="CANAL_LATERAL">Canal lateral</option>
              <option value="CANAL_TERCIARIO">Canal terciario</option>
            </select>
          </div>

        </div>

        <div class="col-xs-6" *ngIf="canal.categoria != '' && canal.categoria != 'CANAL_ADUCCION' && canal.categoria != 'CANAL_PRINCIPAL'">

          <div [ngClass]="(!canalSearch.valid && canalSearch.touched) ? 'form-group has-error' : 'form-group'">
            <label class="control-label" for="canalSearch">Canal</label>
            <ng2-completer [inputClass]="['form-control']" [datasource]="dataServiceCanal" [minSearchLength]="2" [textSearching]="'Buscando...'"
              [placeholder]="'Buscar por nombre o código'" [textNoResults]="'Sin resultados'" (selected)="onCanalSelect($event)"
              #canalSearch="ngModel" [(ngModel)]="searchCanal" id="canalSearch" name="canalSearch" required [clearUnselected]=true></ng2-completer>
            <span class="msg-error" *ngIf="!canalSearch.valid && canalSearch.touched">Campo obligatorio</span>
          </div>
        </div>
      </div>

    </tab>

    <tab heading="Obras">
      <!-- [disabled]="disabledObras" -->

      <br/>

      <div *ngIf="estatus == 4" class="alert alert-warning" role="alert">
        No puedes dejar la descripcion vacia.
      </div>
      <div *ngIf="estatus == 5" class="alert alert-warning" role="alert">
        Valor incorrecto en la georreferenciación.
      </div>

      <div class="row">
        <div class="col-xs-6">

          <div class="form-group ">
            <label for="obras">Obras</label>
            <select [(ngModel)]="idObra" name="obras" class="form-control">
              <option value="-1">-- Seleccione --</option>
              <option *ngFor="let o of lstObra; let i = index" [attr.data-index]="i" value="{{i}}">{{o.nombre}}</option>
              <option *ngIf="lstObra.length == 0" value="-1">No hay obras registradas</option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label">Descripcion de la obra</label>
            <textarea [(ngModel)]="obraDescripcion" name="estadoO" class="form-control" rows="4" placeholder="Ingrese la descripción del estado (Opcional)"></textarea>
          </div>

          <div class="form-group">
            <label>Latitud</label>
            <input [(ngModel)]="gLatitud" placeholder="Ingrese la latitud" class="form-control" name="cLatitud" type="number" />
          </div>

          <div class="form-group">
            <label>Longitud</label>
            <input [(ngModel)]="gLongitud" placeholder="Ingrese la longitud" class="form-control" name="cLongitud" type="number" />
          </div>

          <button class="btn btn-success" type="button" (click)="agregarObra()">Agregar</button>

        </div>

        <div class="col-xs-6">

          <table class="table table-striped">
            <tr *ngFor="let o of lstCanalObra; let i = index" [attr.data-index]="i">
              <td>{{o.obraId.nombre}}</td>
              <td>
                <button (click)="openModalEditar(templateEditar,i)" type="button" class="btn btn-info">Editar</button>
                <button (click)="eliminarObra(i)" type="button" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <br/>
      <br/>
      <button [disabled]="!form.form.valid || idObra >= 0" (click)="registrar(form)" type="button" class="btn btn-primary">Registrar</button>
    </tab>

  </tabset>


  <ng-template #templateEditar>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Editar Obra</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group ">
              <label for="obras">Obras</label>
              <select [(ngModel)]="indexObraEditar" name="mObras" class="form-control">
                <option *ngFor="let o of lstObra; let i = index" [attr.data-index]="i" value="{{i}}">{{o.nombre}}</option>
                <option *ngIf="lstObra.length == 0" value="-1">No hay obras registradas</option>
              </select>
            </div>
  
            <div class="form-group">
              <label class="control-label">Descripcion de la obra</label>
              <textarea [(ngModel)]="canalObraEditar.descripcion" name="mestadoO" class="form-control" rows="4" placeholder="Ingrese la descripción del estado (Opcional)"></textarea>
            </div>
  
            <div class="form-group">
              <label>Latitud</label>
              <input [(ngModel)]="canalObraEditar.latitud" placeholder="Ingrese la latitud" class="form-control" name="mcLatitud" type="number" />
            </div>
  
            <div class="form-group">
              <label>Longitud</label>
              <input [(ngModel)]="canalObraEditar.longitud" placeholder="Ingrese la longitud" class="form-control" name="mcLongitud" type="number" />
            </div>
      </div>
      <div class="modal-footer">
          <button type="button" (click)="editarObra()" class="btn btn-success">Aceptar</button>
          <button type="button" (click)="modalRef.hide()" class="btn btn-danger">Cancelar</button>
      </div>
    </ng-template>
</div>