<div class="col-xs-12">

  <h1>Registro de climatología</h1>

  <ng4-loading-spinner> </ng4-loading-spinner>

  <div *ngIf="estado == 1" class="alert alert-success" role="alert">
    Registrado exitosamente
  </div>
  <div *ngIf="estado == 0" class="alert alert-danger" role="alert">
    No se ha podido registrar
  </div>

  <form #form="ngForm" (ngSubmit)="registrar(form)">

    <div class="col-xs-6">
      <div [ngClass]="(!cYear.valid && cYear.touched) ? 'form-group has-error' : 'form-group'">
        <label for="cYear">Año</label>
        <input type="number" #cYear="ngModel" name="cYear" [(ngModel)]="year" class="form-control" placeholder="Ingrese el año"
          required/>
        <span class="msg-error" *ngIf="!cYear.valid && cYear.touched">Valor incorrecto</span>
      </div>

      <div [ngClass]="(!cMes.valid && cMes.touched) ? 'form-group has-error' : 'form-group'">
        <label class="control-label" for="cMes">Seleccione el mes</label>
        <ng2-completer [inputClass]="['form-control']" [datasource]="dataServiceMes" [minSearchLength]="1" [textSearching]="'Buscando...'"
          [placeholder]="'Escriba el mes'" [textNoResults]="'Sin resultados'" (selected)="onMesSelect($event)" #cMes="ngModel"
          [(ngModel)]="searchMes" id="cMes" name="mesSearch" required [clearUnselected]=true></ng2-completer>
        <span class="msg-error" *ngIf="!cMes.valid && cMes.touched">Campo obligatorio</span>
      </div>
    </div>
    <div class="col-xs-6" *ngIf="cMes.valid && mes > 0">

      <div [ngClass]="(!evaporacion.valid && evaporacion.touched) ? 'form-group has-error' : 'form-group'">
        <label for="evaporacion" class="control-label">Evaporación</label>
        <input [(ngModel)]="climatologiaDatos.evaporacion" #evaporacion="ngModel" type="number" name="evaporacion" class="form-control"
          placeholder="Ingrese la evaporación" required/>
        <span class="msg-error" *ngIf="!evaporacion.valid && evaporacion.touched">Valor incorrecto</span>
      </div>

      <div [ngClass]="(!precipitacion.valid && precipitacion.touched) ? 'form-group has-error' : 'form-group'">
        <label for="precipitacion" class="control-label">Precipitación</label>
        <input [(ngModel)]="climatologiaDatos.precipitacion" #precipitacion="ngModel" type="number" name="precipitacion" class="form-control"
          placeholder="Ingrese la precipitación" required/>
        <span class="msg-error" *ngIf="!precipitacion.valid && precipitacion.touched">Valor incorrecto</span>
      </div>

      <div [ngClass]="(!precipitacionEfecto.valid && precipitacionEfecto.touched) ? 'form-group has-error' : 'form-group'">
        <label for="" class="control-label">Efecto de precipitación</label>
        <input [(ngModel)]="climatologiaDatos.precipitacionEfecto" #precipitacionEfecto="ngModel" type="number" name="precipitacionEfecto"
          class="form-control" placeholder="Ingrese el efecto de precipitación" required/>
        <span class="msg-error" *ngIf="!precipitacionEfecto.valid && precipitacionEfecto.touched">Valor incorrecto</span>
      </div>

      <div [ngClass]="(!qPrecipitacion.valid && qPrecipitacion.touched) ? 'form-group has-error' : 'form-group'">
        <label for="qPrecipitacion" class="control-label">Caudal de precipitación</label>
        <input [(ngModel)]="climatologiaDatos.qPrecipitacion" #qPrecipitacion="ngModel" type="number" name="qPrecipitacion" class="form-control"
          placeholder="Ingrese el caudal de precipitación" required/>
        <span class="msg-error" *ngIf="!qPrecipitacion.valid && qPrecipitacion.touched">Valor incorrecto</span>
      </div>

      <button [disabled]="!form.form.valid" class="btn btn-primary" type="submit">Guardar</button>
    </div>
  </form>
</div>