<div class="col-xs-12">

  <h2>Registro de cultivo</h2>

  <br>

  <form>

    <div class="row">

      <div class="col-xs-6">

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" placeholder="Ingrese el nombre del cultivo" />
        </div>

        <div class="form-group">
          <label for="gestacion">Meses de crecimiento</label>
          <input type="text" class="form-control" placeholder="Ingrese los meses de crecimiento" />
        </div>

        <button class="btn btn-primary">Registrar</button>

      </div>

      <div class="col-xs-6">

          <div class="row">
              <div class="form-row">
                <div class="form-group col-xs-9">
                  <label for="obras">Kc</label>
                  <input type="text" class="form-control" placeholder="Ingrese el Kc" />
                </div>
              </div>
    
              <div class="form-row">
                <div class="form-group col-xs-3">
                  <br>
                  <button class="btn btn-success" type="button">Agregar</button>
                </div>
              </div>
            </div>
    
            <div class="row col-xs-10">
    
              <ul class="list-group">
                <li class="list-group-item">0.3</li>
                <li class="list-group-item">0.6</li>
                <li class="list-group-item">1.2</li>
              </ul>
            </div>
      </div>

    </div>

  </form>
</div>